<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <!-- <p class="category">Looking for more components? Please check our Premium Version of Light Bootstrap Dashboard Angular.</p> -->
                        <br>
                    </div>
                    <div class="content table-responsive table-full-width table-upgrade">
                        <div class="wrapper">
                          <h1>Shto nje prone</h1> <br>
                          <form>
                   
                            <div class="form-group">
                              <label for="alterEgo">Komania</label>
                              <input type="text" class="form-control" id="alterEgo" required>
                            </div>

                            <div class="form-group">
                              <label for="name">Emri</label>
                              <input type="text" class="form-control" id="name" required>
                            </div>

                            <div class="form-group">
                              <label for="name">Mbiemri</label>
                              <input type="text" class="form-control" id="name" required>
                            </div>

                    
                            <div class="form-group">
                              <label for="power">Zgidh lagjen</label>
                              <select class="form-control" id="power" required>
                                <option *ngFor="let lagjja of lagjet" [value]="lagjja">{{lagjja}}</option>
                              </select>
                            </div>   

                            <div class="form-group">
                              <input type="file" 
                              class="filepond"
                              name="filepond" 
                              multiple 
                              data-allow-reorder="true"
                              data-max-file-size="3MB"
                              data-max-files="3"
                              required>
                            </div>
                            <button type="submit" class="btn btn-success" >Submit</button>
                            
                          </form>
                          </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
