<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <!-- Photo Grid -->
                        <div class="row"> 
                            <div class="column" *ngFor="let image of [1,2,3,4]">
                                <figure>
                                    <img src="https://picsum.photos/200/300">
                                    <figcaption>Banesa e {{image}}</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
