<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <!-- Photo Grid -->
                        <div class="row"> 
                            <div class="column">
                                <figure>  
                                    <img src="https://via.placeholder.com/150">
                                    <figcaption>Banesa e Pare</figcaption>
                                </figure>
                            </div>
                            <div class="column">
                                <figure>  
                                    <img src="https://via.placeholder.com/150">
                                    <figcaption>Banesa e Dyte</figcaption>
                                </figure>

                            </div>  
                            <div class="column">
                                <figure>  
                                    <img src="https://via.placeholder.com/150">
                                    <figcaption>Banesa e Trete</figcaption>
                                </figure>
                            </div>
                            <div class="column">
                                <figure>  
                                    <img src="https://via.placeholder.com/150">
                                    <figcaption>Banesa e Katert</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
