<div class="main-content">
    <div class="container-fluid">

            <!-- <div class="col-md-6">
                <figure class="highcharts-figure">
                    <div class="cardChart" style="height: 440px;">
                        <h6 style="text-align: center;"><b>Real time data</b></h6>
                        <Br> <Br> <Br> <br> <br> <Br>
                        <h3  style="text-align: center;" >Banesa te shitura: {{count}}</h3> <Br> -->
                        <!-- <button >Fillo Simulimin</button> -->
                        <!-- <div class="text-center" (click)="incNumber()"> -->
                            <!-- Animated button -->
                            <!-- <br> <br> <Br>
                                
                            <a class="animated-btn text-white" href="#"><i class="fa fa-play"></i></a>
                        </div>
                        <br>
                        <p style="text-align: center;">Fillo Simulimin</p>
                        
                    </div>
                </figure>
        </div>  -->
        <div class="row">
            <div class="col-md-6">
                    <figure class="highcharts-figure">
                        <div id="container" class="cardChart"></div>
                    </figure>
                </div>

            <div class="col-md-6">
                <figure class="highcharts-figure">
                    <div id="secondContainer" class="cardChart"></div>
                </figure>
            </div>
        </div>
        <br>
            <div class="row">
                <div class="col-md-6">
                    <figure class="highcharts-figure">
                        <div id="container4" class="cardChart"></div>
                    </figure>
                </div>
        </div>
    </div>
</div>
